*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
    font-size: 17px;
    color: white;
}
body{
    background-color: #272727;
}
.main-theme{
    color: #FF6207;
}
