.section_9{
    padding-top: 230px;
    padding-bottom: 121px;
}

.section_9 h3{
    padding-bottom: 44px;
}

.section_9_one{
    display: flex;
    align-items: center;
}

.section_9_two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section_9_elements{
    display: flex;
}

.element{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.element input{
    all: unset;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.3);
}
.element input:focus{
    color: #FF6207;
    transition: 0.25s ease;
}
.element label{
    color: #818181;
}
.section_9_checkbox{
    display: flex;
    align-items: baseline;
}
.section_9 .btnReg{
    border: 1px solid rgb(255, 255, 255) !important;
    color: white !important;
    text-shadow: none !important;
    box-shadow: none !important;
    background-color: none !important;
}
.section_9 .btnReg:hover{
    border: 1px solid #ffffff  !important;
    background-color: #FF6207 !important;
    color: rgb(255, 255, 255) !important;
}

.section_9 .btnRegDisabled{
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
    box-shadow: none !important;
    text-shadow: none !important;
}
.section_9 .btnRegDisabled:hover{
    background-color: rgba(255, 0, 0, 0.123) !important;
    box-shadow: none !important;
    color: black;
    cursor: no-drop;
    
}
.section_9 .img-background1{
    width: 100%;
    height: 200px;
    background:url('./img/Group\ 90.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.section_9 .img-background2{
    width: 100%;
    height: 500px;
    background:url('./img/Group\ 158.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.section_9 .main-form-element{
    border: 2px solid #818181;
    border-radius: 16px;
    padding: 3.5em 2.5em;
    position: relative;
}
.section_9 .main-form-element::after{
    content: "";
    position: absolute;
    width: 3px;
    top: 25%;
    right: -3px;
    height: 50%;
    background-color: #272727;
}
.section_9 .main-form-element::before{
    content: "";
    position: absolute;
    width: 3px;
    top: 25%;
    left: -3px;
    height: 50%;
    background-color: #272727;
}
.section_9 .main-form::after{
    content: "";
    position: absolute;
    height: 3px;
    bottom: -3px;
    left: 25%;
    width: 50%;
    background-color: #272727;
}
.section_9 .main-form::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 25%;
    height: 3px;
    width: 50%;
    background-color: #272727;
}
.section_9 .main-form-element{
    width: 90%;
}
@media (max-width:770px) {
    .section_9{
        padding-top: 1em;
    }
    .section_9 .main-form, .section_9 .main-form-element{
        border: none;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        padding-top: 1em;
    }
    .section_9 .img-background2{
        
        margin-top: 30px;
    }
}