.section_5{

    padding-bottom: 200px;
}



.section_5_back{
    background: #FF6207;
    border-radius: 40px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.border-btn{
    display: flex;
}

.section_5_btn{
    display: flex;
    justify-content: flex-end;
}

.section_5 .btnReg{
    background-color: white !important;
    text-shadow: 0px 0px 10px #ffffff;
}

.section_5_txt{
    display: flex;
    align-items: center;
}