.photoMainTheme{
    background-color: #FF6207;
    min-width: 140px;
    height: max-content;
    /* min-width: 260px;
    width: max-content;
    min-height: 300px;
    display: flex;
    align-self: flex-end;
    justify-content: end; */
}
.photoMainTheme img{
    width: 100%;
}
.wrapperSpeaker{
    max-width: 260px;
}

.col{
    display: flex;
    justify-content: center;
    align-items: start;
}
a{
    max-width: max-content;
    max-height: max-content;
}
/* @media (max-width:580px) {
    .wrapperSpeaker{
        flex-direction: row;
        max-width: 100%;
    }
    
}
@media (max-width:440px) {
    
} */